.table-header {
  background-color: #e0e0e0;
  font-weight: bold;
  padding: 8px 0;
  border-bottom: 2px solid #c0c0c0;
}

.table-row {
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  background-color: #f9f9f9;
}
.navbar-cielo {
  --background: #87CEEB; // Azul cielo
  --color: white;
}

.filtro-navbar {
  ion-select {
    --color: white;
    font-size: 14px;
  }
}
