<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre" [disabled]="loading"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Correo electrónico</ion-label>
    <ion-input type="email" [(ngModel)]="correo" [disabled]="loading"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password" [disabled]="loading"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Tipo de usuario</ion-label>
    <ion-select [(ngModel)]="tipo_usuario" [disabled]="loading">
      <ion-select-option value="ciudadano">Ciudadano</ion-select-option>
      <ion-select-option value="empresa">Empresa</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="registrar()" [disabled]="loading">
    <ion-spinner *ngIf="loading"></ion-spinner>
    <span *ngIf="!loading">Registrarse</span>
  </ion-button>

  <ion-button expand="block" fill="clear" routerLink="/login" [disabled]="loading">
    ¿Ya tienes cuenta? Inicia sesión
  </ion-button>
</ion-content>
<router-outlet></router-outlet>