<ion-header>
  <ion-toolbar>
    <ion-title>Reporte Ciudadano</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container ion-padding">
    <form [formGroup]="reporteForm" (ngSubmit)="enviarReporte()">
      <ion-list lines="full">

        <ion-item class="input-item">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Apellidos</ion-label>
          <ion-input formControlName="apellidos"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" formControlName="correo"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input type="tel" formControlName="telefono"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label>Tipo</ion-label>
          <ion-select formControlName="tipo">
            <ion-select-option value="queja">Queja</ion-select-option>
            <ion-select-option value="sugerencia">Sugerencia</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea formControlName="descripcion" autoGrow="true"></ion-textarea>
        </ion-item>

        <ion-item class="input-item">
          <ion-label>Foto</ion-label>
          <input type="file" (change)="onFileChange($event)" />
        </ion-item>

        <div *ngIf="selectedImage" class="preview-container">
          <ion-label>Vista previa:</ion-label>
          <ion-img [src]="selectedImage" class="preview-img"></ion-img>
        </div>

        <ion-button expand="block" type="submit" class="ion-margin-top">
          Enviar Reporte
        </ion-button>
      </ion-list>
    </form>
  </div>
</ion-content>
